[submodule "thirdparty/lietorch"]
	path = thirdparty/lietorch
	url = https://github.com/VSLAM-LAB/lietorch
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
